﻿@model List<FirstMVCApp.UI.Models.Products.ProductModel>
@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>
<a asp-controller="Product" asp-action="Create">Create</a>
<table>
    <tr>
        <th>Категория</th>
        <th>Брэнд</th>
        <th>Наименование</th>
        <th>Цена</th>
    </tr>
    @foreach (var product in Model)
    {
<tr>
    <td>@product.CategoryName</td>
    <td>@product.BrandName</td>
    <td><a asp-controller="Ord" asp-action="CreateOrd" asp-route-id="@product.Id"> @product.Name</a></td>
    <td>@product.Price</td>
    <td>
        <form asp-action="Add" asp-controller="Bucket" method="post">
            <input type="hidden" name="productId" value="@product.Id" />
            <input type="submit" value="Добавить в корзину" />
        </form>
    </td>
</tr>
    }
</table>

