﻿
@model FirstMVCApp.UI.Models.Buckets.BucketModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>BucketModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly"></div>
            <tr>
                <td>Ваше имя:</td>
            </tr>
            <tr>
                <td>@Model.Name</td>
            </tr>
            <div class="form-group">
                <label asp-for="TotalSum" class="control-label"></label>
                <input asp-for="TotalSum" class="form-control" />
            </div>
            @foreach (var mod in Model.ProductInBucket)
            {
        <tr>
            <td>@mod.Name | @mod.Sum | @mod.Qty <br> </td>
        </tr>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
