﻿@model FirstMVCApp.Models.Orders.OrdCreateModel

@{
    ViewData["Title"] = "CreateOrd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Заказ</h1>

<h4>Заполните поля</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOrd">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class="form-control" asp-items="Model.ProductsSelect"></select>
            </div>
            <div class="form-group">
                <label asp-for="Counter" class="control-label"></label>
                <input asp-for="Counter" class="form-control" />
                <span asp-validation-for="Counter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Commentary" class="control-label"></label>
                <input asp-for="Commentary" class="form-control" />
                <span asp-validation-for="Commentary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
