﻿@model List<FirstMVCApp.Models.Orders.OrdModel>
@{
    ViewData["Title"] = "Ords";
}
<h1>Order</h1>
<a asp-controller="Ord" asp-action="CreateOrd">Сделать заказ</a>
<table>
    <tr>
        <th>Наименование </th>
        <th>Цена товара</th>
        <th>Дата заказа  </th>
        <th>Сумма заказа </th>
        <th>Кол-во заказов @for (int i = 1; i < Model.Count + 1; i++)
                           {
                               if (i == Model.Count)
                               {
                                   <td>@i</td>
                               }
                           }</th>
    </tr>
    @foreach (var ord in Model)
    {
<tr>
    <td>@ord.ProductName</td>
    <td>@ord.ProductPrice</td>
    <td>@ord.DateTime</td>
    <td>@ord.PriceAVG</td>
</tr>
    }
</table>