﻿@model List<FirstMVCApp.Models.Categories.CategoryModel>
@{
    ViewData["Title"] = "Categories";
}

<h1>Category</h1>
<a asp-controller="Category" asp-action="Create">Create</a>
<table>
    <tr>
        <th>Наименование</th>
    </tr>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Name</td>
        </tr>
    }
</table>