﻿@model List<FirstMVCApp.Models.Brands.BrandModel>
@{
    ViewData["Title"] = "Brands";
}

<h1>Brand</h1>
<a asp-controller="Brand" asp-action="Create">Create</a>
<table>
    <tr>
        <th>Наименование</th>
    </tr>
    @foreach (var brand in Model)
    {
        <tr>
            <td>@brand.Name</td>
        </tr>
    }
</table>